div {
    text-align: center;
    /* margin-top: 50px; */
  }
  
  h2 {
    
    padding-top: 5%;
    padding-bottom: 1%;
    color: #4CAF50;
  }
  
  h3 {
    padding-top: 1%;
    padding-bottom: 1%;
    color: #333;
  }
  table{
    border:3px solid grey;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    float: right;
  }
  
  button:hover {
    background-color: #45a049;
  }